---
name: build and push docker image

on:
  push:
    branches:
      - main
    paths:
      - "**/*"
      - "!.github/**"
      - "!**/README.md"
      - "!*"

jobs:
  get-changed-files:
    permissions:
      contents: read
    uses: strg-at/github-workflows/.github/workflows/get-changed-files.yaml@0fe68f46762ac650f47d56e8c252c31020b0300f # v2.1.0
    with:
      runner: '["ubuntu-latest"]'
      files: |
        **/*
        !.github/**
        !.taskfiles/**
      matrix: true
      dir_names: true
      dir_names_exclude_current_dir: true
      dir_names_max_depth: 1

  docker-build-push:
    needs: [get-changed-files]
    if: ${{ needs.get-changed-files.outputs.files != '[]' }}
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      matrix:
        paths: ${{ fromJSON(needs.get-changed-files.outputs.files) }}
      fail-fast: false
    uses: strg-at/github-workflows/.github/workflows/docker-build-push-github.yaml@0fe68f46762ac650f47d56e8c252c31020b0300f # v2.1.0
    with:
      runner: '["ubuntu-latest"]'
      subpath: ${{ matrix.paths }}
      file: ${{ format('{0}/Dockerfile', matrix.paths) }}
      free-disk-space: true
      context: ${{ matrix.paths }}
      tags: |
        ${{ github.sha }}
        type=raw, value=rolling
