---
name: docker-build

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - "**/*"
      - "!.github/**"
      - "!**/README.md"
      - "!*"

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  get-changed-files:
    permissions:
      contents: read
    uses: strg-at/github-workflows/.github/workflows/get-changed-files.yaml@ee3733899572f6a1de4a2b467e854bb0b2882674 # v2.0.0
    with:
      runner: '["ubuntu-latest"]'
      files: |
        **/*
        !.github/**
        !.taskfiles/**
      matrix: true
      dir_names: true
      dir_names_exclude_current_dir: true
      dir_names_max_depth: 1

  docker-build:
    needs: get-changed-files
    if: ${{ needs.get-changed-files.outputs.files != '[]' }}
    permissions:
      contents: read
      packages: read
    strategy:
      matrix:
        paths: ${{fromJSON(needs.get-changed-files.outputs.files)}}
      fail-fast: false
    uses: strg-at/github-workflows/.github/workflows/docker-build.yaml@6ff2de922df44f9ff5c0e97c20b1acea474e9919 # WIP
    with:
      runner: '["ubuntu-latest"]'
      file: ${{ format('{0}/Dockerfile', matrix.paths) }}
      free-disk-space: true
      context: ${{ matrix.paths }}
